body {

	background: rgb(0, 0, 45);
}

#test {
    height: 200px;
    display: flex;
    align-items: center;
	justify-content: center;
	border: 3px solid white;
}

.SearchBar {
	background: rgb(100, 0, 150);
	width: 25%;
	height: 25px;
	
	font-family: Veranda, sans-serif;
	color: rgb(255, 255, 255);
	
	border: 3px solid rgb(50, 0, 100);
	padding: 5px;
	
	
}

::placeholder {
	color: rgb(255, 255, 255);
	font-family: Veranda, sans-serif;
	opacity: 1;
	
}

.SearchBar:hover::placeholder, .SearchBar:focus::placeholder {
	opacity: 0.5;
	background: rgb(100, 0, 150);
	color: rgb(255, 255, 255);
	font-family: Veranda, sans-serif;
}

button {
	background: rgb(100, 0, 150);
	border: none;
	
	
	color: rgb(255, 255, 255);
	font-family: Veranda, sans-serif;
	
}

button:hover{
	
	background: rgb(125, 0, 175);
	
  cursor: pointer;
}

button:active{
	
	background: rgb(125, 0, 175);
}
