/*
table:hover {
    background:red
}
*/

table {
$transition-Time: 0.25s;


    td:hover {
     
        transition: $transition-Time linear;
        background-color: red;
    }
 th:hover {
     @extend td
 }

}

.App {
    text-align: center;
    font-size: 1.1em;// might want to change
    
  }

  
    
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  