// Should probably convert em to px 
 
 
 
$widthOfSearches: 20%; 
$padding: 10px; 
 
/* 
    Each result should appear right underneath one another 
    I really have no idea why, but at font size of 18px, the 
    height of the <p> element is 24 px (I found this experimentally) 
    Therefore, if we add the padding + height of of the element, we  
    should get the height and also overlap borders 
*/ 
$incrementDistance: $padding*2 + 24px; 
 
 
 
//Basically, calculating how much space from each side the results needs to be 
//Sees how much available space there is for empty space on sides 
//Then divides by 2 to divide that space equally 
$alignment: calc(((100% - $widthOfSearches)/2) - 2px ); // The 2px is taking into account the border width 
$heightOfSearchBox: 50px; 
 
$initialDistance: $heightOfSearchBox + 2px; // 2px again because we want borders to overlap 
 
.searchbar{
    //background-color: black;
    width: $widthOfSearches;
    display: flex;
    margin: 5px 0px;
}


.results{
    width: $widthOfSearches; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top:$initialDistance;
    p{     
    //height: 2.5em; 
    //position: absolute; 
        font-size: 18px; 
        margin: 0; 
        
        background-color:white; 
        color:black; 
        padding-top: $padding; 
        padding-bottom: $padding; 
        //padding: $padding; 
        border: 2px solid #ddd; 
        // Subtract the additional border width
        width: calc(100% - 4px);
        text-align: center; 
    } 
    p:hover { 
        
        transition: 0.2s linear; 
        background-color: rgb(0, 255, 115); 
    } 
    
}
#inputBox { 
     
    font-size: 25px; 
    height: $heightOfSearchBox; 
    text-align: center; 
    color: black; 
    outline-color: rgb(0, 225, 255); 
    display: inline-block;
    width: 100%;
} 

